.footer {
  width: 100%;
  color: rgb(255, 255, 255, 0.5);
  background-color: black;
  padding: 100px 0;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  overflow: hidden;
}
.footer::after {
  content: "";
  width: 50%;
  height: 100%;
  position: absolute;
  background-color: #fff;
  opacity: 0.5;
  border-radius: 50%;
  left: -20%;
  bottom: -50%;
}
.footer::before {
  content: "";
  width: 50%;
  height: 100%;
  position: absolute;
  background-color: #fff;
  opacity: 0.5;
  border-radius: 50%;
  right: -20%;
  top: -50%;
}
.footer a {
  color: rgb(255, 255, 255, 0.5);
}
.section-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 200px;
  flex-wrap: wrap;
  width: 100%;

  padding: 30px 0;
}

.footer h3 {
  font-size: 2.4rem;
  margin: 0 0 15px;
}
.section-container > * {
  margin: 30px 0;
}
.section-container > :nth-child(1) p {
  margin: 10px 0;
  font-size: 1.2rem;
}

.footer ul {
  width: 400px;
  display: flex;
  flex-wrap: wrap;
}
.footer li {
  padding: 10px 0;
  margin: 0 10px;
}
.highlight {
 color: orangered;
}
.highlight:hover {
  color: orangered;
  transition: 1s;
}
