.menu-item {
  min-width: 30%;
  height: 400px;
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0 7.5px 15px;
  position: relative;
  overflow: hidden;
}

.menu-item:first-child {
  margin-right: 7.5px;
}

.menu-item:last-child {
  margin-left: 7.5px;
}

.menu-item .content {
  height: 90px;
  padding: 0 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  transition: 1.5s ease-in-out;
transform: translateY(300px);
  background-color: rgba(255, 255, 255, 0.596);
}

.menu-item .content .title {
  font-weight: bold;
  margin-bottom: 6px;
  font-size: 22px;
  color: #4a4a4a;
  text-transform: capitalize;
}

.menu-item .content .subtitle {
  font-weight: lighter;
  font-size: 16px;
}
.background-image {
  background-position:center;
  background-size: cover;
  object-fit: cover;
  transition: scale 2s ease-in-out;
}

.menu-item:hover .background-image {
  scale: 1.3;
}
.menu-item:hover .content {
  transform: translateY(0);
}
@media screen and (max-width:1040px) {
  .menu-item{
    width: 50%;

  }
  .menu-item .content{
    transform: translateY(0);
  }
}