*{
    box-sizing: border-box;
    padding: 0;
    margin: 0 ;
    font-family: sans-serif;
    cursor: pointer;
}
::placeholder{
    text-transform: capitalize ;
}

a{
    text-decoration: none;
    color: rgb(0, 0, 0 ,0.5);
    text-transform: capitalize;
    position: relative;
}
a:hover{
    transition: 1s;
    color: orangered;
}
::selection{
    background-color: orangered;
    color: #fff;
}
li{
    list-style: none;
}
.highlight:hover{
    color: orangered;
}